body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.bg_img {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    object-fit: content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 10;
    border-radius: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 50px;
}

nav a:hover {
    color: #1DA1F2;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: auto;
    border-radius: 10px;
}

.icon-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 50%;
    left: 30%;
    transform: translate(-10%, -10%);
    width: auto;
    border-radius: 10px;
}

.icon-i {
   font-size: 80px;
}

.icon-container a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 50px;
}

.icon-container a:hover {
    color: #1DA1F2;
}

.just-img {
    width: 300px;
    position: fixed;
    top: 30%;
    right: 44%;
}

/* Media Queries */

@media (max-width: 768px) {
    .icon {
        top: 60%;
        left: 75%;
    }

    .icon-2 {
        top: 55%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    .just-img {
        width: 250px;
        top: 35%;
        right: 38%;
    }

    nav a {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .icon {
        top: 65%;
        left: 80%;
    }

    .icon-2 {
        top: 60%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .just-img {
        width: 200px;
        top: 40%;
        right: 35%;
    }

    nav a {
        font-size: 35px;
    }
}

@media (max-width: 375px) {
    .icon {
        top: 70%;
        left: 85%;
    }

    .icon-2 {
        top: 65%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    .just-img {
        width: 180px;
        top: 45%;
        right: 30%;
    }

    nav a {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .icon {
        top: 75%;
        left: 90%;
    }

    .icon-2 {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .just-img {
        width: 150px;
        top: 50%;
        right: 25%;
    }

    nav a {
        font-size: 25px;
    }
}
